@model List<Core.DTOs.MoneyTypeDto>

<h2>Money Type List</h2>


<table class="table">
    <thead>
        <tr>
            <th>Money Type</th>
            <th>IsActive</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var money in Model)
        {
            <tr>
                <td>@(money.TypeOfMoney)</td>
                <td>@(money.IsActive)</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            İşlemler
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-controller="MoneyType" asp-action="Edit" asp-route-id="@money.MoneyTypeId">
                                    <i class="bi bi-pencil-fill"></i> Düzenle
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="MoneyType" asp-action="ShowMoneyType" asp-route-id="@money.MoneyTypeId">
                                    <i class="bi bi-eye-fill"></i> Görüntüle
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="MoneyType" asp-action="DeleteMoneyType" asp-route-id="@money.MoneyTypeId">
                                    <i class="bi bi-calendar-x-fill"></i> Sil
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }

            <a class="text-dark btn btn-outline-success mt-3 float-end" asp-controller="MoneyType" asp-action="Create">
                <i class="bi bi-plus-circle-fill float-end"> Add</i>
            </a>

    </tbody>
</table>