@model List<Core.DTOs.ErrorDefineDto>

<h2>Error Define List</h2>


<table class="table">
    <thead>
        <tr>
            <th>ErrorExplain</th>
            <th>CreatedDate</th>
            <th>IsActive</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var define in Model)
        {
            <tr>
                <td>@(define.ErrorExplain)</td>
                <td>@(define.CreateDate)</td>
                <td>@(define.IsActive)</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            İşlemler
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-controller="ErrorDefine" asp-action="Edit" asp-route-id="@define.Id">
                                    <i class="bi bi-pencil-fill"></i> Düzenle
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="ErrorDefine" asp-action="ShowErrorDefine" asp-route-id="@define.Id">
                                    <i class="bi bi-eye-fill"></i> Görüntüle
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="ErrorDefine" asp-action="DeleteErrorDefine" asp-route-id="@define.Id">
                                    <i class="bi bi-calendar-x-fill"></i> Sil
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
        <a class="text-dark btn btn-outline-success mt-3 float-end" asp-controller="ErrorDefine" asp-action="Create">
            <i class="bi bi-plus-circle-fill float-end"> Add</i>
        </a>

    </tbody>
</table>