@model List<Core.DTOs.MontageLetterDto>

<h2>Montage Letter List</h2>


<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>CreatedDate</th>
            <th>IsActive</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var montage in Model)
        {
            <tr>
                <td>@(montage.MontageNumber)</td>
                <td>@(montage.CreateDate)</td>
                <td>@(montage.IsActive)</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            İşlemler
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-controller="MontageLetter" asp-action="Edit" asp-route-id="@montage.Id">
                                    <i class="bi bi-pencil-fill"></i> Düzenle
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="MontageLetter" asp-action="ShowMontageLetter" asp-route-id="@montage.Id">
                                    <i class="bi bi-eye-fill"></i> Görüntüle
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="MontageLetter" asp-action="DeleteMontageLetter" asp-route-id="@montage.Id">
                                    <i class="bi bi-calendar-x-fill"></i> Sil
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
        <a class="text-dark btn btn-outline-success mt-3 float-end" asp-controller="MontageLetter" asp-action="Create">
            <i class="bi bi-plus-circle-fill float-end"> Add</i>
        </a>
    </tbody>
</table>