@model List<Core.DTOs.UnitDto>

<h2>Unit List</h2>

<table class="table">
    <thead>
        <tr>
            <th>UnitName</th>
            <th>CreatedDate</th>
            <th>IsActive</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var unit in Model)
        {
            <tr>
                <td>@(unit.UnitName)</td>
                <td>@(unit.CreateDate)</td>
                <td>@(unit.IsActive)</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            İşlemler
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-controller="Unit" asp-action="Edit" asp-route-id="@unit.Id">
                                    <i class="bi bi-pencil-fill"></i> Düzenle
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Unit" asp-action="ShowUnit" asp-route-id="@unit.Id">
                                    <i class="bi bi-eye-fill"></i> Görüntüle
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Unit" asp-action="DeleteUnit" asp-route-id="@unit.Id">
                                    <i class="bi bi-calendar-x-fill"></i> Sil
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
        <a class="text-dark btn btn-outline-success mt-3 float-end" asp-controller="Unit" asp-action="Create">
            <i class="bi bi-plus-circle-fill float-end"> Add</i>
        </a>

    </tbody>
</table>